.signUp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signUp__container {
    min-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}

.signUp__container h2 {
    font-size: 30px;
    font-weight: 450;
    margin-top: 0;
}

.signUp__details {
    width: 45%;
    background-color: #fff;
    padding: 5% 4%;
    border-radius: 10px;
    margin-top: 2.5%;
    border: 1px solid rgb(223, 221, 221);
    /* background-color: #0a66c2; */
}

.signUp__inputs {
    display: flex;
    flex-direction: column;
}

.signUp__inputs input {
    margin-bottom: 25px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 10px;
}

.signUp__info {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 15px;
    text-align: center;
}

.signUp__info p {
    font-size: 12px;
}

.user__agreement {
    color: #0a66c2;
    font-weight: 600;
}

.user__agreement:hover {
    text-decoration: underline;
    cursor: pointer;
}

.privacy__policy {
    color: #0a66c2;
    font-weight: 600;
}

.privacy__policy:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cookie__policy {
    color: #0a66c2;
    font-weight: 600;
}

.cookie__policy:hover {
    text-decoration: underline;
    cursor: pointer;
}

.agree__join {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    background-color: #0a66c2;
    color: #fff;
    font-size: 17px;
    padding: 7px 0;
    cursor: pointer;
}

.or__hrr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.or__hrr hr {
    width: 40%;
    height: 0.1px;
}

.or__hrr p {
    margin: 0 10px;
    padding-bottom: 5px;
}

.google__buttonn {
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.or__googlee {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
    color: rgb(92, 91, 91);
    height: 40px;
}

.or__googlee:hover {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(26, 26, 26);
}

.already__here {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 10px;
}

.sign__in {
    color: #0a66c2;
    font-weight: 600;
    margin-left: 5px;
}

.sign__in:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #992ced;
}

@media (max-width: 1200px) {
    .signUp__details{
        width: 60%;
    }

    
}
@media (max-width: 900px) {

    .signUp__container{
        
        margin-top: 15vh;
    }

    
    
}


@media (max-width: 738px) {
    .signUp__container h2 {
        font-size: 25px;
    }

    .signUp__details{
        min-width: 60%;
    }
}

@media (max-width: 547px) {

    .signUp__container{
        
        margin-top: 5vh;
    }

    
}

@media (max-width: 517px) {

    .signUp__container h2 {
        font-size: 22px;
        text-align: center;
        width: 90%;
        /* margin-bottom: 10px; */
    }

    .signUp__details{
        width: 80%;
    }
}

@media (max-width: 350px) {
    
    .signUp__container{
        
        margin-top: 0;
    }
}
