.navBar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    /* background-color: red; */
    border-bottom: 0.2px solid rgb(234, 232, 232);

}

.navBar__container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    position: sticky;
    top: 0;
    z-index: 999;
    margin: auto;
    background-color: #fff;
    border-bottom: 0.2px solid rgb(234, 232, 232);
    /* background-color: red; */
}

.navBar__left {
    display: flex;
    align-items: center;
    width: 20%;
}

.navBar__right {
    display: flex;
}

.immediate__right {
    display: flex;
    border-right: 0.2px solid rgb(229, 228, 228);
    padding-top: 5px;
    padding-bottom: 5px;
}

.far__right {
    display: flex;
    padding-top: 5px;

}

.navBar__left img {
    max-width: 11%;
    object-fit: contain;
    min-width: 30px;
}

.navBarLeft__input {
    display: flex;
    align-items: center;
    margin-left: 7px;
    color: #6f7173;
    background-color: #eef3f8;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    height: 25px;
}

.navBarLeft__input input {
    border: none;
    outline: none;
    background-color: #eef3f8;
    width: 100%;

}

.only__message {
    display: none;
}

@media (max-width: 738px) {
    .navBar__container {
        width: 90%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        height: 4.5vh;
    }

    .navBar__left {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .navBarLeft__input {
        width: 79%;
    }

    .immediate__right {
        display: none;
    }

    .far__right {
        display: none;
    }

    .only__message {
        display: block;
    }

    .navBar__left img {
        width: 25px;
    }
}

@media (max-width: 1200px) {
    .navBar__container {
        width: 90%;
    }
}
